<a href="https://colab.research.google.com/github/VenkataramanSuriya/ADVANCE-COMPUTEING/blob/main/ADVANCE_COMPUTEING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.PROGRAM TO PRINT MY NAME

In [ ]:
print("I am going to print my Name : VENKATARAMAN")

I am going to print my Name : VENKATARAMAN

2.PROGRAM TO ARITHMATIC OPERATIONS

In [ ]:
N1=int(input("enter the first number :"))
N2=int(input("enter the second number :"))
add=N1+N2
sub=N1-N2
multi=N1*N2
divi=N1/N2
floor_divi=N1//N2
power=N1**N2
print("add of",N1,"and",N2,"is",add)
print("sub of",N1,"and",N2,"is",sub)
print("multi of",N1,"and",N2,"is",multi)
print("divi of",N1,"and",N2,"is",divi)
print("floor_divi of",N1,"and",N2,"is",floor_divi)
print("power of",N1,"and",N2,"is",power)

enter the first number :4
enter the second number :6
add of 4 and 6 is 10
sub of 4 and 6 is -2
multi of 4 and 6 is 24
divi of 4 and 6 is 0.6666666666666666
floor_divi of 4 and 6 is 0
power of 4 and 6 is 4096

3.PROGRAM TO FIND AREA OF TRIANGLE

In [ ]:
Base=int(input("Enter the value of base :"))
Hight=int(input("Enter the value of base :"))
AREA_OF_TRIANGLE=1/2*Base*Hight
print('the Area of Triange is :',AREA_OF_TRIANGLE)

Enter the value of base :6
Enter the value of base :12
the Area of Triange is : 36.0

4.PROGRAM TO VALUES IN DIFFRENT METHODS

I) USING TEMPRORY VARIABLE

In [ ]:
S=int(input('Enter the value S : '))
V=int(input('Enter the value V : '))
Temp=0

Temp=S
S=V
V=Temp

print("The value of S is :",S)
print("The value of V is :",V)

Enter the value S : 4
Enter the value V : 6
the value of S is : 6
the value of V is : 4

II) ASSIGN USING COMMA OPERATOR

In [ ]:
S=int(input('Enter the value S : '))
V=int(input('Enter the value V : '))

S,V=V,S

print("The value of S is :",S)
print("The value of V is :",V)

Enter the value S :  4
Enter the value V : 6
The value of S is : 6
The value of V is : 4

III) SWAP TWO VARIABLES USING XOR MEATHOD

In [ ]:
S=int(input('Enter the value S : '))
V=int(input('Enter the value V : '))

S=S^V
V=S^V
S=S^V

print("The value of S is :",S)
print("The value of V is :",V)

Enter the value S : 4
Enter the value V : 6
The value of S is : 6
The value of V is : 4

IV) SWAPPING VALUE IN ARITHMATIC OPERATOR

In [ ]:
S=int(input('Enter the value S : '))
V=int(input('Enter the value V : '))

S=S+V
V=S-V
S=S-V

print("The value of S is :",S)
print("The value of V is :",V)

Enter the value S : 4
Enter the value V : 6
The value of S is : 6
The value of V is : 4

5.PYTHON PROGRAM CHEACK LEAP YEAR USING (AND,OR) OPERATORS

In [ ]:
V = int(input("ENTER THE YEAR TO CHEACK : "))

if(V%400==0)and(V%100==0):
  print('The entered year is an leap year :',V)
elif(V%4==0)or(V%100==0):
  print('The entered year is an leap year :',V)
else:
  print('The entered year is not an leap year :',V)

ENTER THE YEAR TO CHEACK : 2004
The entered year is an leap year : 2004

6.Python program to cheack entered value is Possitive, Negative, Zero

In [ ]:
N = int(input("ENTER THE NUMBER TO CHEACK : "))

if(N>0):
  print("The entered number is an Possitive : ",N)
elif(N<0):
  print("The entered number is an Negative : ",N)
else:
  print("The entered number is an Possitive Zero : ",N)

ENTER THE NUMBER TO CHEACK : 6
The entered number is an Possitive :  6

7.PROGRAM TO FIND FACTORIAL OF GIVEN NUMBER

In [ ]:
NUM = int(input("Enter the number to find :"))
Fact=1

if(NUM<0):
  print("The entered number is invalid o ")
elif(NUM==0):
  print("Factorial of 0 is 1")
else:
  for i in range(1,NUM+1):
    Fact=Fact*i
print("The factorial of",NUM,"is",Fact)

Enter the number to find :4
The factorial of 4 is 24

8) PROGRAM TO DISPLAY MULTIPLICATION TABLE

In [ ]:
NUM = int(input("ENTER TABLE NO WHAT YOU WANT : "))
for i in range(1,11):
  print(NUM,'X',i,'=',NUM*i)

ENTER TABLE NO WHAT YOU WANT : 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

9) FIND AMSTRONG NUMBER BETWEEN INTERAVEL

In [ ]:
print("ARMSTRONG NUMBERS BETWEEN 100 AND 500 ARE:")

for num in range(100, 501):
    sum = 0
    digit = 0
    temp = num

    while temp > 0:
        digit = temp % 10
        sum = sum + (digit ** 3)  # Check for Armstrong number with cube of digits
        temp = temp // 10

    if num == sum:
        print(num)

ARMSTRONG NUMBERS BETWEEN 100 AND 500 ARE:
153
370
371
407

In [ ]:
for num in range (100,501) :
  digit_sum = sum(int(digit)**3 for digit in str(num))

  if num == digit_sum :
    print(num)

TypeError: ignored

In [ ]:
arr=[1,2,3,4]
total=0
for i in arr:
  total+=i
print(total)

10

In [ ]:
def fibb(n):
  if n<0 :
    return(1)
  else:
    return (fibb(n-1) + fibb(n-2))

n=6
for i in range(0,n):
  print(fibb(i))

2
3
5
8
13
21

In [ ]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_seq = fibonacci(n - 1)
        fib_seq.append(fib_seq[-1] + fib_seq[-2])
        return fib_seq

n = int(input("Enter the number of terms for the Fibonacci sequence: "))

if n <= 0:
    print("Please enter a positive integer.")
else:
    fib_sequence = fibonacci(n)
    print("Fibonacci Sequence:")
    print(fib_sequence)

Enter the number of terms for the Fibonacci sequence: 12
Fibonacci Sequence:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

11. def function use previous code program

12. program to store one arry another array

In [ ]:
def copy_val (start,end):
  for val in start:
    end.append(val)

start1=[1,2,3,4]
end2=[]
copy_val(start1,end2)
print(start1)
print(end2)

[1, 2, 3, 4]
[1, 2, 3, 4]

13

In [ ]:
def left_rotate_array(arr, k):
    k %= len(arr)  # Ensure k is within the array size
    return arr[k:] + arr[:k]

# Example usage
original_array = [1, 2, 3, 4, 5]
rotation_amount = 2  # Number of positions to rotate left

rotated_array = left_rotate_array(original_array, rotation_amount)

print("Original Array:", original_array)
print("Left Rotated Array:", rotated_array)

Original Array: [1, 2, 3, 4, 5]
Left Rotated Array: [3, 4, 5, 1, 2]

14

In [ ]:
def find_duplicates(arr):
    duplicates = []

    for element in arr:
        if arr.count(element) > 1 and element not in duplicates:
            duplicates.append(element)

    return duplicates

# Example usage
if __name__ == "__main__":
    my_array = [1, 2, 3, 2, 4, 5, 5, 6]
    duplicate_elements = find_duplicates(my_array)

    print("Duplicate elements in the array:", duplicate_elements)

Duplicate elements in the array: [2, 5]

15

In [ ]:
ori_array=[1,2,3,4,5,6]
roti_array=ori_array[::-1]
print(roti_array)

[6, 5, 4, 3, 2, 1]

16

In [ ]:
arr=[1,4,27,0]
arr.sort()
print(arr)

[0, 1, 4, 27]

In [ ]:
17

In [ ]:
val=[23,24,6,4,4,8]
tot=0
for i in val :
  tot = tot+i
print(tot)

69

18

In [ ]:
str = ('VENKAT RAMAN')
REVERED_VAL=str[::-1]
print(REVERED_VAL)

NAMAR TAKNEV

20

In [ ]:
def linear_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1

numbers = [2, 4, 6, 8, 10]
target_number = 8

result = linear_search(numbers, target_number)

if result != -1:
    print(f"Found {target_number} at index {result}.")
else:
    print(f"{target_number} not found in the list.")

Found 8 at index 3.

21

In [ ]:
def binary_search(arr, target):
    left, right = 0, len(arr) - 1

    while left <= right:
        mid = (left + right) // 2

        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1

    return -1

# Example usage:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
target = 6

result = binary_search(arr, target)

if result != -1:
    print(f"Element found at index {result}")
else:
    print("Element not found in the list")

Element found at index 5